
<!-- renderizar o partial do header -->
<%= render 'layouts/header' %>
<!-- renderizar o partial do header -->

<!-- slider topo -->
<!-- renderizar o partial do slider -->
<%= render 'layouts/slider' %>
<!-- renderizar o partial do slider -->
<!-- slider topo -->


  <!-- adicionar modal -->
    <!-- <p id="notice"><%= notice %></p> -->
  <!-- modal -->
      <div class="container">
    <% unless current_user %>
        <div class="row">
        <!--  deslogado -->
        <% @pizzas.each do |pizza| %>

            <!-- M O D A L -->
              <script>
               $('#<%= pizza.nome %>').on('shown.bs.modal', function () {
                $('#verPizza').trigger('focus')
              });
              </script>
              <div class="modal fade" id="<%= pizza.nome %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle"><%= pizza.nome %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                     <%= pizza.ingredientes %>
                    </div>
                  </div>
                </div>
              </div>
            <!-- M O D A L  -->

            <div class="col">
              <div class="col-sm">
                <div class="card text-right" style="width: 18rem;">
                  <img class="card-img-top" src="pizza_a.png" alt="<%= pizza.nome %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= pizza.nome %></h5>
                    <p class="card-text"><%= pizza.ingredientes %>.</p>
                    <%= valor_formatado(pizza.preco) %> - Tam.: <%= pizza.tamanho %> &nbsp;&nbsp;&nbsp; 
                    <%= button_tag '', :class => "btn btn-success fa fa-eye", 'data-target' => "#"+pizza.nome, 'data-toggle' => 'modal', 'type' => 'button' %>
                  </div>
                </div>
                <br>
             </div>
            </div>
          <% end %>
        </div>
      </div>        
    <% else %>
    <!--  logado -->
    <div class="row">
        <% @pizzas.each do |pizza| %>

          <!-- M O D A L -->
            <script>
             $('#<%= pizza.nome %>').on('shown.bs.modal', function () {
              $('#verPizza').trigger('focus')
            });
            </script>
            <div class="modal fade" id="<%= pizza.nome %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><%= pizza.nome %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   <%= pizza.ingredientes %>
                  </div>
                </div>
              </div>
            </div>
          <!-- M O D A L  -->

            <div class="col">
              <div class="col-sm">
                <div class="card text-right" style="width: 18rem;">
                  <img class="card-img-top" src="pizza_a.png" alt="<%= pizza.nome %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= pizza.nome %></h5>
                    <p class="card-text"><%= pizza.ingredientes %>.</p>
                     <%= valor_formatado(pizza.preco) %> - Tam.: <%= pizza.tamanho %> 
                     <%= link_to '', pizza, :class => "btn btn-danger fa fa-cart-plus" %>
                     <%= button_tag '', :class => "btn btn-success fa fa-eye", 'data-target' => "#"+pizza.nome, 'data-toggle' => 'modal', 'type' => 'button' %>

                  </div>
                </div>
                <br>
              </div>
            </div>
          <% end %>
        </div>
      </div> 
    <% end %>
   
<!-- call_to_action botao no site whatsapp e Facebook -->
<!-- rodape partial -->
<%= render 'layouts/rodape' %>
