<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>
  <body>
<!-- RubyStart  -->
<!--  barra de navegação -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Dii Chief</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Pizzas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bebidas</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">Massas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Outros</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Busca</button>
    </form>
  </div>
</nav>
<!--  fim da barra de navegação -->
<main role="main" class="container">

    <p id="notice"><%= notice %></p>
      <% @pizzas.each do |pizza| %>
      <!--  para cada registro no banco de dados, será gerado um container desses ??? -->
        <div class="row">
          <div class="col-lg-3">
            <div class="card text-right">
              <img class="card-img-top" src="pizza_a.png" alt="<%= pizza.nome %>">
              <div class="card-body">
                <h5 class="card-title"><%= pizza.nome %></h5>
                <p class="card-text"><%= pizza.ingredientes %>.</p>
                R$ <%= pizza.preco %> - Tam.: <%= pizza.tamanho %> &nbsp;&nbsp;&nbsp; <%= link_to 'Ver', pizza, :class => "btn btn-danger" %>
              </div>
            </div>
            <!-- <td><%= pizza.tamanho %></td>
            <td>R$ <%= pizza.preco %></td>

            <%= link_to 'Edit', edit_pizza_path(pizza) %>
            <%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %>
            -->
          </div>
        </div>
      </div>
      <br>
      <% end %>

    <!-- <%= link_to 'New Pizza', new_pizza_path %> -->
<!-- RubyEnd  -->
<!-- call_to_action botao no site whatsapp e Facebook -->
<script type="text/javascript">
    (function () {
        var options = {
            facebook: "664131617107142", // Facebook page ID
            whatsapp: "+5531987806772", // WhatsApp number
            company_logo_url: "//storage.whatshelp.io/widget/24/2441/24417b1c8439031fcbce5c5df7bea865/21557581_706853589501611_1188719055547661691_n.jpg", // URL of company logo (png, jpg, gif)
            greeting_message: "Entre em contato e faça seu pedido sem sair de casa!", // Text of greeting message
            call_to_action: "Faça seu pedido aqui!", // Call to action
            button_color: "#E74339", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "facebook,whatsapp" // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- call_to_action botao no site whatsapp e Facebook -->
</main>
  </body>
</html>
